/* General styles */

.login-container {
  background-image: url('./image1.jpg'); /* Make sure to replace 'background-image.jpg' with the actual image file name */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ensure the container takes up full viewport height */
  display: flex;
  justify-content: flex-start; /* Align the login box to the left */
  align-items: center; /* Vertically center the login box */
  padding-left: 100px; /* Increase padding to move it further right */
}

.login-box {
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the form box */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px; /* Optional: Set max width for the form box */
}

h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #8cbbee;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #afc7e0;
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 14px;
}
